@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Вітаємо</h1>
    <p>Веб-застосунок підтримки роботи мережі ресторанів</p>
    <form asp-controller="Account" asp-action="Login">
        <button class="btn btn-primary py-2" type="submit">Увійти</button>
    </form>
</div>
